<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <title>Coach Keersten</title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.1/css/bulma.min.css">
  <link rel="stylesheet" href="style.css" />
</head>

<body id="app">
  <section class="section">
    <div class="container">
      {% block content %} {% endblock %}
    </div>
  </section>

  <script src="https://unpkg.com/jquery@3.5.1/dist/jquery.min.js"></script>
  <script src="https://unpkg.com/parsleyjs@2.9.2/dist/parsley.min.js"></script>
  <script src="main.js"></script>
</body>

</html>
