{% extends "base.html" %}

{% block content %}

<div class="columns is-centered">
  <div class="column is-12-mobile is-6-desktop">
    <div class="box k-profile">

      <div class="k-profile-img">
        <img src="alert-triangle-outline.svg" />
      </div>
    
      <div class="title my-4">Coming Soon</div>
 
      <form name="contact" method="POST" netlify-honeypot="bot-field" data-netlify="true" id="form" data-parsley-validate="" data-netlify-recaptcha="true">
        <div class="mb-4">
          Be notified when the site is ready by entering your email below
        </div>

        <p class="hidden">
          <label>Don’t fill this out if you’re human: <input name="bot-field" /></label>
        </p>

        <div class="field has-text-left">
          <div class="control">
            <input class="input" type="email" data-parsley-trigger="change" name="email" required placeholder="Email address">
          </div>
        </div>

        <div class="k-recaptcha" data-netlify-recaptcha="true"></div>

        <button id="notify" class="button is-success" type="submit" disabled>Notify me!</button>    
       
      </form>

      <hr />

      

      <div class="subtitle mt-4">Upcoming features for keersten.coach</div>

      <ul class="k-features ml-5">
        <li>General information about Coach Keersten and her services</li>
        <li>Feeless payments</li>
        <li>Lesson scheduling</li>
        <li>Lesson reminders via text, email, and mobile app push notifications</li>
      </ul>
  
     
  
      
      
    </div>
    
  </div>
</div>

{% endblock content %}
